<div class="header">
    <h1>Contact Us</h1>
    <p>Have something to tell us? Write it here.</p>
</div>
<form>
    <mat-form-field appearance="fill" class="half-width">
        <mat-label>Your Name</mat-label>
        <input matInput placeholder="Name">
    </mat-form-field>

    <mat-form-field appearance="fill" class="half-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="Email">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Message</mat-label>
        <textarea matInput formControlName="message" rows="6"> </textarea>
    </mat-form-field>
    <button mat-raised-button class="primary" type="submit">Send Message</button>
</form>
