<header>
    <h1>Food</h1>
</header>
<main class="product-grid">
    <div class="product-card">
        <img src="" alt="Food Placeholder">
        <h2>Food Placeholder</h2>
        <p>Short Description of Cat Food</p>
        <p class="price">$35.99</p>
        <button>Add to Cart</button>
    </div>

    <div class="product-card">
        <img src="" alt="Food Placeholder">
        <h2>Food Placeholder</h2>
        <p>Short Description of Cat Food</p>
        <p class="price">$35.99</p>
        <button>Add to Cart</button>
    </div>
    
    <div class="product-card">
        <img src="" alt="Treat Placeholder">
        <h2>Treat Placeholder</h2>
        <p>Short Description of Cat Treat</p>
        <p class="price">$14.99</p>
        <button>Add to Cart</button>
    </div>

    <div class="product-card">
        <img src="" alt="Treat Placeholder">
        <h2>Treat Placeholder</h2>
        <p>Short Description of Cat Treat</p>
        <p class="price">$14.99</p>
        <button>Add to Cart</button>
    </div>
</main>