* {
    padding: 0;
    margin: 0;
}

#nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#nav ul {
list-style:none;
    padding: 0;
    margin: 0;
}

#nav ul li{
    display: inline-block;
    position: relative;
    justify-content: flex-end;
}

ul li a{
    color: rgb(237, 237, 237);
    display: block;
    padding: 25px 25px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    z-index: 10000;
    color: #AA336A;
}

header {
	top: 0;
  	left: 0;
  	width: 100%;
	background-color: #ffd1df; 
    z-index: 999;
}

ul li ul.dropdown li{
    display: block;
}

ul li ul.dropdown {
    width: 100%;
    position: absolute;
    z-index: 999;
    display: none;
    backdrop-filter: blur(10px);
}

ul li a:hover {
    color: #673ab7;
}

ul li:hover ul.dropdown{
    display:block;
    background-color:#ffd1df;
    z-index: 1000;
}

#link li{
    margin-right: 20px;
}

#search {
    margin-left: auto;
}

#search form {
    display:flex;
    align-items: center;
}

#search input[type="text"] {
    padding: 5px;
    margin: 2px;
}

#search button {
    padding: 5px 10px;
    margin: 10px;
}