<header>
  <div id="nav">
        <ul>
            <li>
                <a routerLink="/home" routerLinkActive="active">Home</a>
            </li>
            <li>
            <a routerLink="/products" routerLinkActive="active">Products ▼</a>
                <ul class="dropdown">
                    <li *ngFor="let c of categoryList">
                        <a (click)="navigateToCategory(c.categoryName)" routerLinkActive="active">{{c.categoryName}}</a>
                    </li>
                </ul>
            </li>
            <li><a routerLink="/about" routerLinkActive="active">About</a></li>
            <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
            <li id="search">
                <form>
                    <input class="search" type ="text" placeholder="Search.." name="search" [(ngModel)]="searchQuery"/>
                    <button class="primary" type="submit">Search</button>
                </form>
            </li>
        </ul> 
    </div>
    <div class="search-results"><p>{{ searchQuery }}</p></div>
</header>
<!-- use angular materials to create header
    create dropdown for categories 
    categories should be populated from app.component.ts file
    One-click of that category, you will be routed to category/:categoryId and land on that specific category page
    -->
<router-outlet></router-outlet>