<header>
  <div id="nav">
        <ul>
            <li>
                <a routerLink="/home" routerLinkActive="active">Home</a></li>
            <li>
            <a routerLink="/products" routerLinkActive="active">Products ▼</a>
                <ul class="dropdown">
                    <li><a routerLink="/cats" routerLinkActive="active">Cats</a></li>
                    <li><a routerLink="/food" routerLinkActive="active">Food and Treats</a></li>
                    <li><a routerLink="#" routerLinkActive="active">Accessories</a></li>
                    <li><a routerLink="#" routerLinkActive="active">Cat Toys</a></li>
                </ul>
            </li>
            <li><a routerLink="/about" routerLinkActive="active">About</a></li>
            <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
            <li id="search">
                <form>
                    <input class="search" type="text" placeholder="Search">
                    <button class="primary" type="button">Search</button>
                </form>
            </li>
        </ul> 
    </div>
</header>
  
<router-outlet></router-outlet>