<header>
    <h1>Our Products</h1>
</header>

<div class="product-categories">
    <h2>Cats</h2>
</div>

<main class="product-grid">
    
    <div class="product-card">
        <img src="" alt="Bombay Cat">
        <h2>Bombay Cat</h2>
        <p>Short Description of Cat</p>
        <p class="price">$50.00</p>
        <button>Add to Cart</button>
    </div>
    <div class="product-card">
        <img src="" alt="Japanese Bobtail Cat">
        <h2>Japanese Bobtail Cat</h2>
        <p>Short Description of Cat</p>
        <p class="price">$50.00</p>
        <button>Add to Cart</button>
    </div>

    <div class="product-card">
        <img src="" alt="Toyger Cat">
        <h2>Toyger Cat</h2>
        <p>Short Description of Cat</p>
        <p class="price">$50.00</p>
        <button>Add to Cart</button>
    </div>

    <div class="product-card">
        <img src="" alt=" Cat placeholder">
        <h2>Cat placeholder</h2>
        <p>Short Description of Cat</p>
        <p class="price">$50.00</p>
        <button>Add to Cart</button>
    </div>
    
</main>

<div class="product-categories">
    <h2>Food and Treats</h2>
</div>

<main class="product-grid">
    <div class="product-card">
        <img src="" alt="Food Placeholder">
        <h2>Food Placeholder</h2>
        <p>Short Description of Cat Food</p>
        <p class="price">$35.99</p>
        <button>Add to Cart</button>
    </div>

    <div class="product-card">
        <img src="" alt="Food Placeholder">
        <h2>Food Placeholder</h2>
        <p>Short Description of Cat Food</p>
        <p class="price">$35.99</p>
        <button>Add to Cart</button>
    </div>
    
    <div class="product-card">
        <img src="" alt="Treat Placeholder">
        <h2>Treat Placeholder</h2>
        <p>Short Description of Cat Treat</p>
        <p class="price">$14.99</p>
        <button>Add to Cart</button>
    </div>

    <div class="product-card">
        <img src="" alt="Treat Placeholder">
        <h2>Treat Placeholder</h2>
        <p>Short Description of Cat Treat</p>
        <p class="price">$14.99</p>
        <button>Add to Cart</button>
    </div>
</main>
