<section class="hero">
    <div class="hero-content">
        <h2>Welcome to [insert here] </h2>
        <p>We provide cats and stuff related to them!</p>
    </div>
</section>

<section class="features">
    <div class="feature">
        <img src="https://www.purina.co.uk/sites/default/files/styles/square_medium_440x440/public/2022-06/Bombay-Cat.jpg?itok=gxXm3cCu" alt="Cat Feature 1">
        <h3>Cat Breeds</h3>
        <p>Discover the most popular cat breeds, from the Abyssinian to the Japanese Bobtail.</p>
    </div>
    <div class="feature">
        <img src="https://www.purina.co.uk/sites/default/files/styles/square_medium_440x440/public/2022-06/Toyger.jpg?itok=oMbZRHSr" alt="Cat Feature 2">
        <h3>Adoption</h3>
        <p>Find your perfect match and give a cat a new loving home.</p>
    </div>
    <div class="feature">
        <img src="https://www.purina.co.uk/sites/default/files/styles/square_medium_440x440/public/2022-06/Abyssinian-Cat-Breed_0.jpg?itok=r3GCHbzx" alt="Cat Feature 3">
        <h3>Cat Care</h3>
        <p></p>
    </div>
</section>

